$White: white;
$Black: black;
$LayoutBG: white;
$HeaderBG: rgb(80, 87, 81);
$BorderBG: rgb(215, 215, 215);



$HeaderHeight: 58px;
$HeaderTitleSize: 20px;
$HeaderTitleColor: $White;
$HeaderTitleWeight: 400;



@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin fontStyle($text-size, $text-color, $text-weight) {
  font-size: $text-size;
  color: $text-color;
  font-weight: $text-weight;
}