@import "../../commonStyles/_variables.scss";

.container {
  padding: 20px 10px;
  border-bottom: 1px solid $BorderBG;
  display: flex;
  align-items: center;

  &.last {
    border-bottom: none;
  }

  .icon {
    padding: 20px;
    background-color: $White;
    border: 1px solid $BorderBG;
    border-radius: 8px;
  }

  .title {
    margin-left: 16px;
    @include fontStyle(16px, $Black, 400);
  }
}