@import "../../commonStyles/_variables.scss";

.container {
  background-color: $HeaderBG;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  box-shadow: 0 0 5px 2px $HeaderBG;

  .title {
    @include fontStyle($HeaderTitleSize, $HeaderTitleColor, $HeaderTitleWeight);
  }

  .content {
    .search, .menu {
      width: 24px;
    }
  }
}